/*added body font-size*/
body {
  background-color:white;
  color:black;
  font-size: 1em;
}
/*added h1 font-size*/
h1 {
  font-style: bold;
  font-size: 2em;
  line-height: 1.5em;
}
/*added h1 font-size*/
h3 {
  font-style:italic;
  font-size: 1em;
  line-height: 1.5em;
}
/*added p font-size*/
p {
  font-size: 0.9em;
  line-height: 1.5em;
  padding-bottom: 0.75em;
}
/*remove underline*/
a {
  text-decoration: none;
}
/*display interactivity.*/
a:link {color:skyblue; } 
a:hover {color:blue; } 

nav {
  /*added nav font-size*/
  font-size: 1em;
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}
/* img text-align center */
figure{
	text-align:center;
}
article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
